.main {
    background-image:url('../assets/Drone.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vmax;
    margin: 0px;
    overflow: hidden;             
    align-items: center;            
    justify-content: center;        
    text-align: center;             
}
.nav-buttons {
    
}
.button {
  display: inline-block;
  padding: 10px 30px;
  margin: 0 8px;
  border: 2px solid white;
  border-radius: 25px; /* Rounded edges */
  background-color: transparent;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover,
.button:focus {
  background-color: white;
  color: black;
}
.mini-title {
    color: white;
    align-self: center;
    font-size: 3vw;
}
.title {
    color: white;
    align-self: center;
    font-size: 10vw;
}