#root {
  min-height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #050505;
  color: #ffffff;
}

.app__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: var(--nav-height);
}

.app__content > *:first-child {
  flex: 1;
}
