#root {
  min-height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--color-page-bg);
  color: var(--color-text);
}

.app__content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.app__content > *:first-child {
  flex: 1;
}

@media (max-width: 600px) {
  .app__content > * {
    margin: 0;
  }
}

@media (min-width: 1200px) {
  .app__content > :not(:first-child) {
    font-size: 1.08em;
  }
}
