.full-width-image{
    background-image: url("./assets/image\ 17.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vmax;
    margin: 0px;
    align-items: center;
    /* overflow: hidden; */
    justify-content: center;
    text-align: center;
}

h1{
    color: white;  
    align-self: center;       
    font-size: 3rem;  
}
